@model PriceChat.Web.Models.Items.AddItemModel
@{
    ViewData["Title"] = "Add Item";
}

<div class='d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom'>
    <h1 class='h2'>Item</h1>
    
</div>
@if (Model.Errors.Any())
{
    <div class='alert alert-danger'>
        Some errors were found:
        <ul>
            @foreach (var error in Model.Errors)
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}
<form asp-action='Add' asp-controller='Item' method='post' asp-antiforgery='true'>
    <div class='form-group row'>
        <label asp-for='Id' class='col-sm-2 col-form-label'>Id</label>
        <div class='col-sm-10'>
            <input class='form-control' asp-for='Id'>
        </div>
    </div>
    <div class='form-group row'>
        <label asp-for='Category' class='col-sm-2 col-form-label'>Category</label>
        <div class='col-sm-10'>
            <input class='form-control' asp-for='Category'>
        </div>
    </div>


    <div class='form-group row'>
        <label asp-for='Retailer' class='col-sm-2 col-form-label'>Retailer</label>
        <div class='col-sm-10'>
            <select class='form-control' asp-for='Retailer' asp-items='Model.RetailerList'></select>
        </div>
    </div>

    <div class='form-group row'>
        <div class='col-sm-10'>
            <button type='submit' class='btn btn-primary'>Submit</button>
        </div>
    </div>
</form>
