@model List<Item>
@{
    ViewData["Title"] = "Home Page";
}

<div class='row'>
    <div class='col-md-12'>

        <h2>Items</h2>

        <table class='table'>
            <thead>
            <tr>
                <td>Id</td>
                <td>Retailer</td>
                <td>Category</td>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.ActionLink(item.Id, "Prices", "Home", new { itemId = item.Id })</td>
                    <td>@item.Retailer</td>
                    <td>@item.Category</td>
                </tr>
            }
            </tbody>
        </table>
        <a asp-controller='Home' asp-action='AllPrices' class='btn btn-default pull-right'>All Prices</a>
    </div>
</div>
