@using Newtonsoft.Json
@model PriceChat.Web.Models.Home.ItemModel
@{
    ViewData["Title"] = $"Price of {Model.Id}";
}

<div class='d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3'>
    <h1 class='h2'>Prices for Item - @Model.Id</h1>
</div>
<partial name='PriceChart' model='Model.Prices'/>